{% extends 'base.html'%}

{% block content %}
<br>
<h1>{{book.title}}</h1>
<p>{{book.author_name}} {{book.author_surname}}</p>
{% if current_user.is_authenticated %}
<h1>Write a review to this book</h1>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
<form method="POST">
    {{review_form.hidden_tag()}}
    {{review_form.text.label}}
    {{review_form.text(class="form-control")}}
    {{review_form.rating.label}}
    {{review_form.rating(class="form-control")}}
    <br>
    {{review_form.submitbutton(class="btn btn-dark")}}
</form>
</div>
{%endif%}
<h2>Reviews</h2>
{% for review in reviews%}
<div class="card">
      <h5 class="card-header"> {{review.reviewer.email}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{review.rating}}</h5>
        <p class="card-text">Year: {{review.text}}</p>
      </div>
</div>

{%endfor%}



{% endblock %}