{% extends 'base.html'%}

{% block content %}
<br>
<h1>{{book.title}} - {{book.author_name}} {{book.author_surname}}</h1>

<div class="card">
    <h5 class="card-header">Information about the book</h5>
<div class="card-body">
    <p class="card-text"><strong>Year:</strong> {{book.year}}</p>
    <p class="card-text"><strong>Genre:</strong> {{book.genre}}</p>
    <p class="card-text"><strong>Description:</strong> {{book.description}}</p>

    <a href={{url_for('my_books')}}  class="btn btn-primary">To my books</a>
          {% if current_user.is_authenticated%}
        <a href={{url_for('home')}}  class="btn btn-warning">Back to books list</a>
          {% endif %}
</div>
</div>

<br><br>
{% if current_user.is_authenticated %}
<h5>Write a review to this book</h5>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
<form method="POST">
    {{review_form.hidden_tag()}}
    {{review_form.text.label}}
    {{review_form.text(class="form-control")}}
    {{review_form.rating.label()}}
    {{review_form.rating(class="form-check")}}
    <br>
    {{review_form.submitbutton(class="btn btn-dark")}}
</form>
</div>
{% else %}
<h6>To write reviews please <a href="{{url_for('login')}}"><button class="btn btn-outline-dark" type="submit">Login</button></a> </h6>
{%endif%}

<br>
{%if reviews%}
<h3>Reviews</h3>
{% for review in reviews%}
<div class="card">
      <h5 class="card-header bg-info-subtle">{{review.reviewer.username}} {%if current_user.id == review.reviewer_id %} <a class="btn btn-outline-success" href="{{url_for('edit_review', id=review.id)}}">Edit</a> <a class="btn btn-outline-danger" href="{{url_for('delete_review', id=review.id)}}">Delete</a>{% endif %}</h5>
      <div class="card-body">
        <h5 class="card-title">Stars: {{review.rating}}</h5>
        <p class="card-text">Review: {{review.text}}</p>

      </div>




</div>
<br>
{%endfor%}
{%else%}
<h6>There is no reviews yet</h6>
{%endif%}





{% endblock %}